/*Note: si on change le nombre de slide il faut ajouter une section dans "pin-wrap" et pour le css .pin-wrap il faut augmenter de 100vmax et ca rajoute une slide*/

body {
  overflow-x: hidden; /* Pour enlever le defilement horizontale */
  margin: 0;
  padding: 0;
}

.accueil__img {
  display: flex;
  object-fit: contain;
  width: 100vw;
  height: 100vh;
}

.accueil__anim {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -5rem;
  z-index: 2;
}

@layer orig {
  .section__conclusion {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }

  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}

@supports (animation-timeline: view()) {
  @keyframes move {
    to {
      transform: translateX(calc(-100% + 100vw));
      left: 0px;
    }
  }

  .carrousel {
    height: 800vh;
    overflow: visible;
    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
  }

  .section__horizontale {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  .pin-wrap {
    display: flex;
    height: 100vh;
    width: 900vmax; /*pour changer la taille du slider*/
    will-change: transform;
    animation: linear move forwards;
    animation-timeline: --section-pin-tl;
    animation-range: contain 0% contain 100%;
    overflow-y: hidden;
    background: linear-gradient(to right, #94caf5, #436987);
    scroll-behavior: slow;
  }
}

.section__olivia {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/*Section Pieton*/
.section__pieton {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/pieton.png");
  background-size: cover;
}

.pieton__forme {
  color: white;
  font-family: Amaranth;
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 3rem;
  right: 25rem;
}

.pieton__span {
  color: white;
  font-family: Amaranth;
  font-size: 2rem;
  margin: 0;
  position: absolute;
}

.pieton__pourcent {
  color: white;
  font-family: Amaranth;
  font-size: 2rem;
  margin: 0;
  position: absolute;
}

.pieton__co2 {
  color: white;
  font-family: Amaranth;
  font-size: 2rem;
  margin: 0;
  position: absolute;
}

.pieton__limit {
  color: white;
  font-family: Amaranth;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 12rem;
  right: 17rem;
  width: 25rem;
  text-align: center;
}

/*Section Velo*/
.section__velo {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/velo.png");
  background-size: cover;
}

/*Section Train*/
.section__train {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/train.png");
  background-size: cover;
}

/*Section Moto*/
.section__moto {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/moto.png");
  background-size: cover;
}

/*Section Bus*/
.section__voiture5 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/ecran5.png");
  background-size: cover;
}

/* ------------ Section Voiture ------------*/
.section__voiture6 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/ecran6.png");
  background-size: cover;
}

.station {
  position: absolute;
  width: 30rem;
  top: -13.5rem;
  left: 15.5rem;
  z-index: 2;
}

.voiture {
  position: absolute;
  width: 50rem;
  left: -5rem;
  bottom: -9rem;
  display: flex;
}

.texte__voiture {
  font-family: Amaranth;
  font-size: 4.5rem;
  color: white;
  position: absolute;
  bottom: -2rem;
  right: 1rem;
}

.h3__voiture {
  font-family: Amaranth;
  font-size: 2.5rem;
  color: white;
  position: absolute;
  width: 40rem;
  right: 10rem;
}

.h3-2__voiture {
  font-family: Amaranth;
  font-size: 2rem;
  color: white;
  position: absolute;
  width: 20rem;
  top: 12.5rem;
  right: -2rem;
}

/* ------------ Section Bateau ------------ */
.section__voiture7 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/ecran7.png");
  background-size: cover;
}

/* ------------ Section Avion ------------ */
.section__voiture8 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/ecran8.png");
  background-size: cover;
}

.h1__camembert {
  position: absolute;
  left: 40rem;
  font-size: 4rem;
  font-family: Amaranth;
  color: white;
}
