@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");


/*Note: si on change le nombre de slide il faut ajouter une section dans "pin-wrap" et pour le css .pin-wrap il faut augmenter de 100vmax et ca rajoute une 
slide*/


/*Résolution optimisé 1680 1050*/

/*Résolution de fou 2513 1494*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #436987;
}

.accueil__img {
  display: flex;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.accueil__anim {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
  bottom: -.5rem;
}

@layer orig {
  .section__conclusion {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }

  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}

@supports (animation-timeline: view()) {
  @keyframes move {
    to {
      transform: translateX(calc(-100% + 100vw));
      left: 0px;
    }
  }

  .carrousel {
    height: 800vh;
    overflow: visible;
    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
  }

  .section__horizontale {
    height: 100vh;
    width: 1000vw;
    position: sticky;
    top: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  .pin-wrap {
    display: flex;
    height: 100vh;
    width: 900vmax; /*pour changer la taille du slider*/
    will-change: transform;
    animation: linear move forwards;
    animation-timeline: --section-pin-tl;
    animation-range: contain 0% contain 100%;
    overflow-y: hidden;
    background: linear-gradient(to right, #94caf5, #436987);
    scroll-behavior: slow;
  }
}

/* ------------ Section Camembert ------------*/

.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #94caf5;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.page2__text {
  font-family: "Amaranth", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.page2__div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70vw;
  position: absolute;
  top: 13rem;
  left: 10rem;
}

.page2__text--droite {
  font-family: "Amaranth", sans-serif;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  color: white;
}

.page2__video {
  padding: 0;
  display: flex;
  width: 80vw;
}

[class^="section__"] {
  background-position: bottom;
}

/* ------------ Section Pieton ------------ */
.section__pieton {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/pieton.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.h3__pieton {
  display: flex;
  justify-content: end;
  
  padding-right: 20rem;
  font-size: 2.5rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3-h2__pieton {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3-h2__pieton-h2 {
  font-size: 5rem;
}

.h3-h2__pieton-h3 {
  font-size: 2.5rem;
}

.h3-2__pieton {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12rem;
  margin-left: 45rem;
  font-size: 2.5rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3-3__pieton {
  display: flex;
  margin-left: 25rem;
  font-size: 2.5rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3-h2__pieton-h2{
  font-size: 4rem;
}

/* ------------ Section Velo ------------*/
.section__velo {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/velo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.velo__texte {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 7.5rem;
  margin-bottom: 15rem;
  font-size: 2rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3__velo {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  font-size: 3rem;
  font-family: "Amaranth", sans-serif;
  color: white;

  margin-right: 30rem;
}

/* ------------ Section Train ------------ */
.section__train {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/train.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.h3__train {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-family: "Amaranth", sans-serif;
  color: white;
  margin-top: 15rem;

}

/* ------------ Section Moto ------------ */
.section__moto {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/moto.png");
  background-size: contain;
  background-repeat: no-repeat;
}


.texte__moto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-top: 25rem;

  font-size: 2rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3-2__moto {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 7rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

/* ------------ Section Bus ------------ */
.section__bus {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/bus.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.h3-2__bus {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  margin-right: 26rem;
  margin-bottom: 10rem;
  padding-top: .5rem;
  transform: rotate(5deg);
  font-size: 2rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3-3__bus{
  display: flex;
  justify-content: start;
  margin-right: 26rem;
  margin-left: 12rem;
  font-size: 3rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.bus{
  display: flex;
  padding-top: 10rem;
  padding-right: 5rem;
  width: 55rem;
}

/* ------------ Section Voiture ------------ */
.section__voiture {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/voiture.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.voiture__texte {
  display: flex;
  align-items: center;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.station {
  position: absolute;
  width: 35rem;
  top: -8rem;
  left: 15.5rem;
  z-index: 2;
}

.voiture {
  display: flex;
  position: absolute;
  width: 50rem;
  left: -5rem;
  bottom: -20rem;
}

.texte__voiture {
  display: flex;
  justify-content: end;
  margin-top: 34rem;
  margin-right: 12rem;
  font-size: 3rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.h3__voiture {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
  padding-left: 30rem;
  font-family: "Amaranth", sans-serif;
  font-size: 2.5rem;
  color: white;
  
}

.h3-2__voiture {
  display: flex;
  justify-content:end;
  text-align: center;
  margin-top: 17rem;
  margin-right: 3.5rem;
  font-size: 2.5rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

/* ------------ Section Bateau ------------ */
.section__bateau {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/bateau.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
justify-content: end;
}

.meduse{
  width: 75rem;
  display: flex;
  justify-content: end;

}

/* ------------ Section Avion ------------ */
.section__avion {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/avion.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.texte__avion {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  font-size: 2rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.texte2__avion {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 2rem;
  font-family: "Amaranth", sans-serif;
  color: white;
}

.avion__texte{
  display: flex;
  justify-content: end;
}

/* ------------ Section Consequences ------------ */
.consequences{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #436987;
  width: 100vw;
  height: 100vh;
  padding: 0;
  font-family: "Amaranth", sans-serif;
  color: white;
  overflow: hidden;
}

.consequences__title{
  font-family: 'Amaranth', sans-serif;
  font-size: 4rem;
  padding: 0;
  margin-top: 5rem ;
  text-align: center;
}

/* ------------ Section Solution ------------*/
.section__solution {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #436987;
}

.selective__solutions{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 5rem;
  justify-content: space-between;
  max-width: 100vw;
}

.solution__h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-family: 'Amaranth', sans-serif;
}

.solution__velo-img{
  width: 15rem;
}


.flip-container {
  position: relative;
  display: flex;
  perspective: 1000px;
  min-width: 30%;
  width: 40em;
  height: 10em;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: center;

}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #436987;
  border: white solid 2px;
  border-radius: 1rem;
}

.back {
  background-color: #436987;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: 'Amaranth', sans-serif;
  border: white solid 2px;
  border-radius: 1rem;
  color: white;
}

.solution__h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: 'Amaranth', sans-serif;
}