/*Note: si on change le nombre de slide il faut ajouter une section dans "pin-wrap" et pour le css .pin-wrap il faut augmenter de 100vmax et ca rajoute une 
slide*/
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  overflow-x: hidden; /* Pour enlever le defilement horizontale */
  margin: 0;
  padding: 0;
}

.accueil__img {
  display: flex;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.accueil__anim {
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -5rem;
  z-index: 2;
  bottom: -4.5rem;
}

@layer orig {
  .section__conclusion {
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }

  .pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
}

@supports (animation-timeline: view()) {
  @keyframes move {
    to {
      transform: translateX(calc(-100% + 100vw));
      left: 0px;
    }
  }

  .carrousel {
    height: 800vh;
    overflow: visible;
    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
  }

  .section__horizontale {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    width: 100vw;
    overflow-x: hidden;
  }

  .pin-wrap {
    display: flex;
    height: 100vh;
    width: 900vmax; /*pour changer la taille du slider*/
    will-change: transform;
    animation: linear move forwards;
    animation-timeline: --section-pin-tl;
    animation-range: contain 0% contain 100%;
    overflow-y: hidden;
    background: linear-gradient(to right, #94caf5, #436987);
    scroll-behavior: slow;
  }
}

/*Section Camembert*/

.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #94caf5;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
}

.page2__text {
  font-family: "Amaranth", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.page2__div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 70vw;
  position: absolute;
  top: 13rem;
  left: 10rem;
}

.page2__text--droite {
  font-family: "Amaranth", sans-serif;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  color: white;
}

.page2__video {
  padding: 0;
  display: flex;
  width: 80vw;
}

[class^="section__"] {
  background-position: bottom;
}

/*Section Pieton*/
.section__pieton {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/pieton.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.h3__pieton {
  display: flex;
  justify-content: end;
  padding-right: 20rem;
  font-size: 2.5rem;
  font-family: Amaranth;
  color: white;
}

.h3-h2__pieton {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
  font-family: Amaranth;
  color: white;
}

.h3-h2__pieton h2 {
  font-size: 4rem;
}

.h3-h2__pieton h3 {
  font-size: 2.5rem;
}

.h3-2__pieton {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 8rem;
  margin-left: 45rem;
  font-size: 2.5rem;
  font-family: Amaranth;
  color: white;
}

.h3-3__pieton {
  display: flex;
  margin-left: 32rem;
  font-size: 2.5rem;
  font-family: Amaranth;
  color: white;
}

/*Section Velo*/
.section__velo {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/velo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.velo__texte {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

.h3-2__velo {
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
  display: flex;
  margin-top: 12rem;
  margin-left: 20rem;
}

.h3-3__velo {
  font-family: Amaranth;
  color: white;
  display: flex;
  justify-content: end;
  margin-right: 15rem;
  font-size: 2rem;
  text-align: center;
}

.h3-4__velo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: Amaranth;
  color: white;

  margin-right: 30rem;
}

/*Section Train*/
.section__train {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/train.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.texte__train {
  font-family: Amaranth;
  color: white;
  display: flex;
  font-size: 3rem;
  justify-content: center;
}

.h3-2__train {
  font-size: 2rem;
  display: flex;
  justify-content: end;
  font-family: Amaranth;
  color: white;
  margin-top: 15rem;
  margin-right: 10rem;
}

.h3-3__train {
  font-size: 2rem;
  display: flex;
  margin-left: 8rem;
  font-family: Amaranth;
  color: white;
}

/*Section Moto*/
.section__moto {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/moto.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.texte__moto {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: Amaranth;
  color: white;
}

.texte2__moto {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.25rem;
  margin-top: 7.5rem;
  margin-right: 15rem;
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

.texte3__moto {
  display: flex;
  align-items: center;
  gap: 0.25rem;
 
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

.h3-2__moto {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

/*Section Bus*/
.section__bus {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/bus.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.sangle__texte {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
  font-family: Amaranth;
  color: white;
}

.h3-2__bus {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  margin-right: 26rem;
  padding-top: 1rem;
  transform: rotate(5deg);
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

.h3-3__bus{
  display: flex;
  justify-content: start;
  margin-right: 26rem;
  margin-left: 12rem;
  font-size: 3rem;
  font-family: Amaranth;
  color: white;
}

.texte__bus {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  flex-direction: row;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-right: 15rem;
  gap: 0.25rem;
  font-family: Amaranth;
  color: white;
}

/* ------------ Section Voiture ------------*/
.section__voiture {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/voiture.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.voiture__texte {
  display: flex;
  align-items: center;
  font-family: Amaranth;
  color: white;
}

.station {
  position: absolute;
  width: 30rem;
  top: -13.5rem;
  left: 15.5rem;
  z-index: 2;
}

.voiture {
  display: flex;
  position: absolute;
  width: 50rem;
  left: -5rem;
  bottom: -16rem;
}

.texte__voiture {
  display: flex;
  justify-content: end;
  margin-top: 25rem;
  margin-right: 15rem;
  font-size: 3rem;
  font-family: Amaranth;
  color: white;
}

.h3__voiture {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 30rem;
  font-family: Amaranth;
  font-size: 2.5rem;
  color: white;
  
}

.h3-2__voiture {
  display: flex;
  justify-content:end;
  text-align: center;
  margin-top: 16rem;
  margin-right: 4rem;
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

/* ------------ Section Bateau ------------ */
.section__bateau {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/bateau.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.bateau__texte {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.25rem;
  font-size: 1.5rem;
  margin-top: 9rem;
  margin-right: 80rem;
  font-family: Amaranth;
  color: white;
}

.bat__bateau {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}

.bat2__bateau {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}

/* ------------ Section Avion ------------ */
.section__avion {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/avion.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.texte__avion {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  text-align: center;
  margin-left: 18rem;
  padding-bottom: 27rem;
  transform: rotate(-10deg);
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}

.texte2__avion {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-align: start;
  transform: rotate(5deg);
  padding-bottom: 31rem;
  padding-left: 34rem;
  font-size: 2rem;
  font-family: Amaranth;
  color: white;
}


/* ------------ Section Conclusion ------------ */

.section__conclusion {
  font-family: Amaranth;
  color: white;
}
